html {
	color: #C0C0C0;
	font-size: 16px;
	min-height: 100%;
	max-width: calc(100% - 20px);
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
}

:focus {
	outline: none;
}

input, textarea, option, select {
	color: #000000;
}

textarea {
	resize: none;
}

iframe {
	overflow: hidden;
	border: 0;
}

body {
	background-color: #000000;
}

hr {
	border: 0;
	height: 1px;
	background: -moz-linear-gradient(left,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(51,51,51,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0)), color-stop(15%,rgba(51,51,51,1)), color-stop(85%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0)));
	background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 85%,rgba(51,51,51,0) 100%);
	background: -o-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 85%,rgba(51,51,51,0) 100%);
	background: -ms-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 85%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 85%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=1 );
}

.vr {
	width: 1px;
	height: 250px;
	float: left;
	margin: 0 10px;
	background: -moz-linear-gradient(top,  rgba(51,51,51,0) 0%, rgba(51,51,51,0.6) 35%, rgba(51,51,51,0.6) 65%, rgba(51,51,51,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0)), color-stop(35%,rgba(51,51,51,0.6)), color-stop(65%,rgba(51,51,51,0.6)), color-stop(100%,rgba(51,51,51,0)));
	background: -webkit-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.6) 35%,rgba(51,51,51,0.6) 65%,rgba(51,51,51,0) 100%);
	background: -o-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.6) 35%,rgba(51,51,51,0.6) 65%,rgba(51,51,51,0) 100%);
	background: -ms-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.6) 35%,rgba(51,51,51,0.6) 65%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.6) 35%,rgba(51,51,51,0.6) 65%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=0 );
}

a {
	text-decoration: none;
	color: #C0C0C0;
	display: block;
}

button, .button {
	color: #C0C0C0;
	background: black;
	border: 1px solid #333333;
	font-weight: bold;
	text-align: center;
	padding: 8px 10px;
	width: 100px;
}

a:hover, .active, button:hover, .button:hover {
	color: #8F0000;
}

p {
	text-align: justify;
}

ul li {
	padding: 10px 0;
}

ul.layout {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 0;
	margin: 0;
}

.dull {
	color: #444444;
	font-weight: bold;
	font-size: 0.9em;
}

.dull a {
	color: #444444;
}

.dull a:hover {
	color: #8F0000;
}

.glow {
	text-shadow: 0 0 0.3em #444444, 0 0 0.3em #444444;
}

.box {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #333333;
	background: #000000 url(../images/box-background.png);
	overflow: hidden;
}

/*LAYOUT START*/
header, section, footer {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

.content100, .content67, .content33 {
	box-sizing: border-box;
	float: left;
	width: 100%;
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

/*small*/
@media only screen and (max-width: 767px) {
	header .newsticker {
		display: none;
	}	
}

/*medium*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	header, section, footer {
		width: 750px;
	}
	
	h2 {
		font-size: 1.0em;
	}
	
	header .newsticker {
		font-size: 0.7em;

	}
	
	header .main_nav {
		font-size: 0.7em;
	}
}

/*big*/
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	header, section, footer {
		width: 970px;
	}
	
	h2 {
		font-size: 1.3em;
	}
	
	header .newsticker {
		font-size: 0.9em;
	}
	
	header .main_nav {
		font-size: 0.9em;
	}
}

/*huge*/
@media only screen and (min-width: 1200px) {
	header, section, footer {
		width: 1170px;
	}
}

/*all but small*/
@media only screen and (min-width: 768px) {
	.content67 {
		width: calc(100% / 3 * 2);
	}
	.content33 {
		width: calc(100% / 3);
	}
	
	header .main_nav {
		margin-top: 41px;
	}
	
	header .newsticker {
		margin-top: 20px;
		height: 75px;
	}
	
	header .newsticker_mobile {
		display: none;
	}
}

/*HEADER START*/
header {
	height: 210px;
}

header .logo {
	margin-top: 20px;
	height: 178px;
	width: auto;
}

header .newsticker, header .newsticker_mobile {
	text-align: center;
	line-height: 25px;
	cursor: default;
}

header .newsticker li {
	padding: 0;
}

header .logo img {
	max-width: 100%;
	max-height: 178px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header .main_nav li, .member_nav li {
	padding: 0 10px;
	float: left;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	font-family: 'Roboto Slab', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header .main_nav {
	min-height: 60px;
	line-height: 60px;
	overflow: hidden;
}

.member_nav {
	min-height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}

/*SECTION START*/
section {
	overflow: hidden;
}

h2 {
	margin-top: 25px;
}

.content67 h2, .content100 h2, .event h3 {
	padding-left: 45px;
}

.content33 h2 {
	text-align: center;
}

ul.events li div.leftdiv, ul.bands li div.leftdiv {
	width: calc(33% - 11px);
}

ul.events li div.leftdiv img, ul.bands li div.leftdiv img {
	width: 100%;
}

ul.events li div.rightdiv, ul.bands li div.rightdiv {
	width: calc(67% - 11px);
}


ul.bands li iframe {
	width: 100%;
	height: 100px;
	margin-top: 10px;
}

.pics div.table {
	margin: 5px;
	width: 170px;
	height: 170px;
	border: 1px solid #333333;
	background-color: black;
	display: table;
}

.pics div.table * {
	max-width: 170px;
	max-height: 170px;
}

.pics div.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

img.get_there {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #333333;
	background: #000000 url(../images/box-background.png);
}

form.events input, form.events textarea, form.bands input, form.bands textarea, form.pics input {
	width: 100%;
}

form.events button, form.bands button, form.pics button {
	width: calc(50% - 10px);
}

form.events img, form.bands img, form.pics img {
	max-width: 100%;
}

.file_input {
	color: #C0C0C0;
}

.event img {
	max-width: 50%;
	padding-left: 15px;
}

ul.pagination {
	margin-left: 15px;
	float: left;
	line-height: 26px;
}

ul.pagination li {
	margin-left: 10px;
	float: left;
	padding: 0;
}

.about .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	border: 1px solid #333333;
}

.about .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*SIDEBARS STARt*/
ul.regular {
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #333333;
	background: #000000 url(../images/box-background.png);
	overflow: hidden;
}

.regular .summerbreak {
	position: relative;
}

.regular .summerpic {
	position: absolute;
	top: 0;
	left: -2px;
	right: -2px;

	width: calc(100% + 4px);
	height: 100%;


}

.regular li img {
	margin-top: 7px;
	border: 1px solid #333333;
	width: 100%;
}

form.login input, form.register input, form.login button, form.register button {
	width: 100%;
}

/*CALENDAR START*/
table.calendar {
	width: 100%;
	line-height: 40px;
}

table.calendar th {
	border-bottom: 1px solid #333333;
	width: 33%;
}

table.calendar td {
	border: 1px solid #333333;
	width: calc(100% / 7);
	text-align: center;
}

table.calendar .left {
	padding-left: 15px;
}

table.calendar .right {
	padding-right: 15px;
}

/*FOOTER START*/
footer {
	clear: both;
}

footer .box {
	min-height: 260px;
}

footer .ads img {
	margin: 10px;
	float: left;
}

footer .social {
	line-height: 1.3em;
	font-size: 1.3em;
}

footer a.facebook:hover {
	color: #3b5998;
}

footer a.freefm:hover {
	color: #f60;	
}

/*HELPERS START*/
.left {
	float: left;
}

.right {
	float: right !important;
}

.clear {
	clear: both;
}

.mbottom {
	margin-bottom: 15px;
}

.debug1 {
	width: calc(100% / 3);
	height: 1px;
	background-color: #FFFFFF;
}

.debug2 {
	width: calc(100% / 3);
	height: 1px;
	background-color: #FF0000;
}
